hackspace-design-patterns.aux
hackspace-design-patterns.log
hackspace-design-patterns.nav
hackspace-design-patterns.out
hackspace-design-patterns.pdf
hackspace-design-patterns.snm
hackspace-design-patterns.toc
*.swp
