hackerspace-design-patterns.aux
hackerspace-design-patterns.log
hackerspace-design-patterns.nav
hackerspace-design-patterns.out
hackerspace-design-patterns.pdf
hackerspace-design-patterns.snm
hackerspace-design-patterns.toc
